html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: 1rem;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;

  @include xs-min {
    font-size: 3rem;
    margin: (-$gap / 2) 0 ($gap * 3);
  }

  @include xs {
    font-size: 2rem;
    margin: 0 0 ($gap * 2);
  }
}

h2 {
  font-family: $font-header;

  // TODO: оформить как в h1 (почти)
}

